.video_list
  - @videos.each do |vid|
    .well
      .span2
        .thumbnail
          = link_to image_tag( 'http://img.youtube.com/vi/' + vid.yt_video_id + '/default.jpg'), admin_video_path(vid.id) rescue ''
        = link_to iconblack('remove') + "刪除", admin_video_path(vid), method: :delete,
          class: "btn btn-danger delete", data: { confirm: "確定刪除: #{vid.title}?" }
      .meat
        %h3= link_to vid.title, admin_video_path(vid.id)
        = vid.description rescue ''

