.logo
  %h1= link_to '真武會館', root_path

.well
  - if memeber_signed_in?
    = "#{current_memeber.email}已登錄。不是你？"
    = link_to "登出", destroy_memeber_session_path, method: :delete
  - else
    = link_to "登錄", new_memeber_session_path

.well
  .ul.nav.nav-list
    .li#home= link_to '回到首頁', root_path
    .li#menu= link_to '部落格', 'http://tw.myblog.yahoo.com/ssosx-wusu', target: '_blank'
    .li#videos= link_to '影片', videos_path
    .li#fees= link_to '收費', fees_path
    .li#schedule= link_to '課程時間', schedule_path

