!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title 真武會館
    %link{}
    %meta{ :content => "", :name => "description"}
    %meta{ :content => "Mickey Chen", :name => "build_by"}
    %meta{ :content => "", :name => "keywords"}
    = stylesheet_link_tag :application
    = yield :morecss
    = javascript_include_tag :application
    = yield :morejs
    = csrf_meta_tags
  %body
    .container
      .row
        .leftcolumn.span3
          = render 'layouts/leftcolumn'
        .mainbody.span9
          .well
            .notification
              %p.notice= notice
              %p.alert= alert
            = yield
      .row
        .footer.span12
          .well= render 'layouts/footer'

